# Copyright 2026 Cisco Systems, Inc. and its affiliates
#
# SPDX-License-Identifier: Apache-2.0
[defaults]
inventory = inventory.yml
host_key_checking = True
stdout_callback = yaml
retry_files_enabled = False
interpreter_python = auto_silent
collections_path = ./collections:~/.ansible/collections

[inventory]
unparsed_is_failed = True
